php_flag engine off
RemoveHandler .php .phtml .php3 .php4 .php5 .phps .cgi .pl .py .jsp .asp .htm .shtml .sh .cgi
RemoveType .php .phtml .php3 .php4 .php5 .phps .cgi .pl .py .jsp .asp .htm .shtml .sh .cgi
